/**
 * styles.scss
 * Compass files for googly thorin
 * 11/05/13 Mojiferous
 */
/* line 7, ../sass/styles.scss */
body {
  background-color: #009600;
  text-align: center;
}

/* line 12, ../sass/styles.scss */
#main-frame {
  width: 715px;
  height: 670px;
  display: block;
  background: url("../images/frame.png") no-repeat;
  margin: auto;
  padding-top: 200px;
}

/* line 21, ../sass/styles.scss */
.hidden {
  display: none;
}
